<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.kinami.wp.dao.RecordDAO">
    <resultMap type="cc.kinami.wp.model.po.FullRecordPO" id="fullRecordResultMap">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="mid" jdbcType="VARCHAR" property="mid"/>
        <result column="mmac" jdbcType="VARCHAR" property="mmac"/>
        <result column="rate" jdbcType="VARCHAR" property="rate"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="lon" jdbcType="DOUBLE" property="lon"/>
    </resultMap>

    <resultMap type="cc.kinami.wp.model.po.SingleRecordPO" id="singleRecordResultMap">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="mac" jdbcType="VARCHAR" property="mac"/>
        <result column="router" jdbcType="VARCHAR" property="router"/>
        <result column="rssi" jdbcType="INTEGER" property="rssi"/>
        <result column="rssi1" jdbcType="INTEGER" property="rssi1"/>
        <result column="rssi2" jdbcType="INTEGER" property="rssi2"/>
        <result column="rssi3" jdbcType="INTEGER" property="rssi3"/>
        <result column="rssi4" jdbcType="INTEGER" property="rssi4"/>
        <result column="tar_ssid" jdbcType="VARCHAR" property="tarSsid"/>
        <result column="tar_mac" jdbcType="VARCHAR" property="tarMac"/>
        <result column="is_connected" jdbcType="BOOLEAN" property="connected"/>
        <result column="is_sleeping" jdbcType="BOOLEAN" property="sleeping"/>
        <result column="essid0" jdbcType="VARCHAR" property="essid0"/>
        <result column="essid1" jdbcType="VARCHAR" property="essid1"/>
        <result column="essid2" jdbcType="VARCHAR" property="essid2"/>
        <result column="essid3" jdbcType="VARCHAR" property="essid3"/>
        <result column="essid4" jdbcType="VARCHAR" property="essid4"/>
        <result column="essid5" jdbcType="VARCHAR" property="essid5"/>
        <result column="essid6" jdbcType="VARCHAR" property="essid6"/>
        <result column="distance" jdbcType="DOUBLE" property="distance"/>
    </resultMap>

    <resultMap type="cc.kinami.wp.model.po.AbstractRecordPO" id="abstractRecordResultMap">
        <result column="mid" jdbcType="VARCHAR" property="mid"/>
        <result column="mmac" jdbcType="VARCHAR" property="mmac"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="mac" jdbcType="VARCHAR" property="mac"/>
        <result column="router" jdbcType="VARCHAR" property="router"/>
        <result column="rssi" jdbcType="INTEGER" property="rssi"/>
        <result column="tar_ssid" jdbcType="VARCHAR" property="tarSsid"/>
        <result column="tar_mac" jdbcType="VARCHAR" property="tarMac"/>
        <result column="is_connected" jdbcType="BOOLEAN" property="connected"/>
        <result column="is_sleeping" jdbcType="BOOLEAN" property="sleeping"/>
        <result column="distance" jdbcType="DOUBLE" property="distance"/>
    </resultMap>

    <insert id="insertSingleRecord" parameterType="cc.kinami.wp.model.po.SingleRecordPO" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into single_record(mac, router, rssi, rssi1, rssi2, rssi3, rssi4, tar_ssid, tar_mac, is_connected,
                                  is_sleeping, essid0, essid1, essid2, essid3, essid4, essid5, essid6, distance)
        values (#{singleRecord.mac}, #{singleRecord.router}, #{singleRecord.rssi}, #{singleRecord.rssi1},
                #{singleRecord.rssi2}, #{singleRecord.rssi3}, #{singleRecord.rssi4}, #{singleRecord.tarSsid},
                #{singleRecord.tarMac}, #{singleRecord.connected}, #{singleRecord.sleeping},
                #{singleRecord.essid0}, #{singleRecord.essid1}, #{singleRecord.essid2}, #{singleRecord.essid3},
                #{singleRecord.essid4}, #{singleRecord.essid5}, #{singleRecord.essid6}, #{singleRecord.distance})
    </insert>

    <insert id="insertFullRecord" parameterType="cc.kinami.wp.model.po.FullRecordPO" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into full_record(mid, mmac, rate, time, lat, lon)
        values (#{fullRecord.mid}, #{fullRecord.mmac}, #{fullRecord.rate}, #{fullRecord.time}, #{fullRecord.lat},
                #{fullRecord.lon})
    </insert>

    <insert id="insertRecordRelation" parameterType="int">
        insert into r_full_single(full_id, single_id)
        values (#{fullID}, #{singleID})
    </insert>

    <select id="listAbstractRecordList" parameterType="cc.kinami.wp.dao.co.SelectRecordCO"
            resultMap="abstractRecordResultMap">
        select mid,
        mmac,
        time,
        mac,
        router,
        rssi,
        tar_mac,
        tar_ssid,
        is_connected,
        is_sleeping,
        distance
        from full_record f
        left join r_full_single r on f.id = r.full_id
        left join single_record s on r.single_id = s.id
        <where>
            <if test="condition.beginTime != null">
                time >= #{condition.beginTime}
            </if>
            <if test="condition.endTime != null">
                and time &lt;= #{condition.endTime}
            </if>
            <if test="condition.mid != null">
                and mid = #{condition.mid}
            </if>
            <if test="condition.mac != null">
                and mac = #{condition.mac}
            </if>
            <if test="condition.tarSsid != null">
                and tar_ssid = #{condition.tarSsid}
            </if>
        </where>
        limit 9999;
    </select>
</mapper>
